*.pdf
build/*
dist/*
*.class
lib/*
nbproject/*
build.xml
manifest.mf
# Package Files #
*.war
*.ear

.idea
target
*.iml
/bin/
/build/
.settings
.gradle
.metadata
settings.xml
nbactions.xml
nb-configuration.xml
